# =========================================================
# NEXT.JS
# =========================================================

node_modules/
.next/
out/
.vercel/

# =========================================================
# ENV / SECRETS
# =========================================================

.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# =========================================================
# TYPESCRIPT
# =========================================================

*.tsbuildinfo

# =========================================================
# LOGS
# =========================================================

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db
desktop.ini

# =========================================================
# IDE
# =========================================================

.vscode/
.idea/

# =========================================================
# MISC
# =========================================================

*.log